<table class="full-width" mat-table [dataSource]="dataSourceTable | async" matSort>
  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef>Parcela Nº.</th>
    <td mat-cell *matCellDef="let parcela">{{ parcela.numero }}</td>
  </ng-container>
  <ng-container matColumnDef="vencimento">
    <th mat-header-cell *matHeaderCellDef>Vencimento</th>
    <td mat-cell *matCellDef="let parcela">{{ parcela.vencimento | date:'dd/MM/yyyy' }}</td>
  </ng-container>
  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let parcela">{{ parcela.valor | currency:'BRL':true }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>

<mat-paginator [pageSizeOptions]="[25,50,75,100]"></mat-paginator>